.main-product {
  width: 100%;
  height: 100%;
}

h2{
  margin: 0px;
}

.left {
  width: 50%;
  height: 100%;
  float: left;
  text-align: center;
  position: relative;
}

.right {
  width: 50%;
  height: 100%;
  float: left;
  position: relative;
  background-color: #ddd;
}

.pic {
  max-width: 100%;
  height: auto;
  max-height: 40vh;
}

.stars {
  width: 80px;
  height: auto;
  margin: 0;
}

.shipping {
  border: grey thin solid;
  background-color: lightblue;
  width: 180px;
  padding: 10px;
  text-align: center
}

.image-container {
  width: 100%;
  height: 50vh;
}

.thumbnails {
  width: 100%;
  height: 200px;
  position: relative;
  border-top: solid #ccc thin;
  overflow: scroll;
}

@media (max-width: 600px) {
  .left, .right {
    width: 100%;
  }

}
